Package: libldap2
Source: openldap
Version: 2.6.7+dfsg-1~exp1ubuntu8.1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 540
Depends: libc6 (>= 2.38), libgnutls30t64 (>= 3.8.2), libsasl2-2 (>= 2.1.28+dfsg1)
Recommends: libldap-common
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://www.openldap.org/
Description: OpenLDAP libraries
 These are the run-time libraries for the OpenLDAP (Lightweight Directory
 Access Protocol) servers and clients.
Original-Maintainer: Debian OpenLDAP Maintainers <pkg-openldap-devel@lists.alioth.debian.org>
